{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flex flex-col justify-center min-h-screen py-12 bg-gray-50 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900 leading-9">
        Sign in to your account
      </h2>
      <p class="mt-2 text-sm text-center text-gray-600 leading-5 max-w">
        Or
        <a href="{{path('app_register')}}" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
          create a new account
        </a>
      </p>
    </div>
  
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
        <form id="login-form" role="form" method="post" accept-char="UTF-8" autocomplete="off" data-parsley-validate>

          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {% if app.user %}
              <div class="mb-3">
                  You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
              </div>
          {% endif %}

              <input type="hidden" name="_token" value="">

              <div class="input-field">
                  <input type="email" name="email" id="inputEmail" value=""
                         required
                         autofocus
                         data-parsley-trigger="change"
                         data-parsley-error-message="A valid email address is required.">
                  <label for="inputEmail">Email</label>
                  <span class="help-block">Type your email address.</span>
              </div>
              <div class="input-field">
                  <input type="password" name="password" id="inputPassword"
                         required
                         data-parsley-trigger="change"
                         data-parsley-error-message="The password must be at least 6 characters.">
                  <label for="inputPassword">Password</label>
                  <i class="fa fa-eye show-password"></i>
                  <span class="help-block">Type your password.</span>


              </div>

              <input type="hidden" name="_csrf_token"
                      value="{{ csrf_token('authenticate') }}"
              >

              <div class="checkbox">
                  <input type="checkbox" id="keep-logged" name="remember" value="1" />
                  <label for="keep-logged">Keep me logged in</label>
              </div>
              <button type="submit" class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20">Login</button>

              <div class="links">
                  <a href="#!">Forgot your password?</a>
              </div>
          </form>
      </div>
  </div>
      </div>
    </div>
  </div>
  
{% endblock %}
