{% extends 'base.html.twig' %}


{% block seo %}
    <meta name="description" content="Bienvenue sur Santé +, votre cabinet médical de confiance. Découvrez nos services, prenez rendez-vous en ligne et accédez à des informations de santé essentielles.">
    <meta name="keywords" content="Santé +, cabinet médical, services médicaux, prise de rendez-vous, soins de santé, informations médicales">
    <meta name="author" content="Santé +">

{% endblock %}


{% block title %}Santé +{% endblock %}

{% block body %}


<div class="page-hero bg-image overlay-dark" style="background-image: url({{asset('asset/img/istockphoto-1401846005-612x612.jpg')}});">
    <div class="hero-section">
      <div class="container text-center wow zoomIn">
        <span class="subhead">Besoin de consulter</span>
        <h1 class="display-4">Santé +</h1>
        <a href="{{path('app_appointement')}}" class="btn btn-primary">Prendre rendez-vous</a>
      </div>
    </div>
  </div>


  <div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
      <div class="container-card-titre">
        <div class="row justify-content-center">
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="card-service ">
                <span class="">
                  <img src="{{ asset('uploads/medecins/message.png') }}" style="width: 120px; height: 80px; align-items: center" alt="">
                </span>
                <p><span>Discuter</span> avec un médecin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .page-section -->

    <div class="page-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3 wow fadeInUp">
            <h1>Bienvenue<br> dans notre Cabinet</h1>
            <p class="text-grey mb-4">Situé au cœur de la ville, votre cabinet médical est un lieu accueillant et moderne où la santé et le bien-être sont au centre de toutes les attentions. Dès l'entrée, vous êtes accueilli par un personnel chaleureux et professionnel, prêt à répondre à vos besoins. La salle d'attente, baignée de lumière naturelle, offre un environnement paisible et confortable pour les patients en attente de consultation.

              Les consultations se déroulent dans des salles spacieuses et équipées des dernières technologies médicales, garantissant des examens et des diagnostics précis. Votre équipe médicale, composée de médecins généralistes et de spécialistes qualifiés, est dévouée à offrir des soins de qualité et personnalisés à chaque patient.
              
              Dans votre cabinet, l'accent est mis sur la prévention et l'éducation en matière de santé. Des séances d'information et de sensibilisation sont régulièrement organisées pour promouvoir un mode de vie sain et prévenir les maladies.
              
             </p>
            <a href="{{path('app_about_us')}}" class="btn btn-primary">En savoir plus </a>
          </div>
          <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
            <div class="img-place custom-img-1">
              <img src={{asset('asset/img/bg-doctor.png')}} alt="">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .bg-light -->
  </div> <!-- .bg-light -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center mb-5 wow fadeInUp">Les Médecins</h1>

      <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
          {% for medecin in medecins %}
          <div class="item">
            <div class="card-doctor">
              <div class="header">
                <img src={{asset('uploads/medecins/' ~ medecin.url)}} alt="">
                <div class="meta">
                  <a href="#"><span class="mai-call"></span></a>
                  <a href="#"><span class="mai-logo-whatsapp"></span></a>
                </div>
              </div>
              <div class="body">
                <p class="text-xl mb-0">{{medecin.firstName}} {{medecin.lastName}} </p>
                <span class="text-sm text-grey">{{medecin.experience}}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


  

{% endblock %}
