{% extends 'base.html.twig' %}

{% block title %}Medecin index{% endblock %}

{% block body %}

<h1 class="font-weight-normal">Les Medecins</h1>
   
  <div class="page-section bg-light">
    <div class="">
      <div class="row justify-content-center">
        <div class="col-lg-10">

          <div class="row">
            
            {% for medecin in medecins %}
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src={{asset('uploads/medecins/' ~ medecin.url)}} alt="photo medecin {{medecin.firstName}}">
                  <div class="meta">
                    <a href="#"><span class="mai-call"></span></a>
                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                  </div>
                </div>
                <div class="body">
                  <p class="text-xl mb-0">{{medecin.lastName}} {{medecin.firstName}}</p>
                  <span class="text-sm text-grey">{{medecin.tel}}</span>
                  <p class="text-sm text-grey">{{medecin.experience.experience}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
    
        
    

            
          </div>
        </div>  
      </div>
    </div>
  </div>
{% endblock %}
