{% extends 'base.html.twig' %}


{% block seo %}

    <meta name="description" content="Consultez les profils de nos médecins chez Santé +. Découvrez leurs spécialités, leurs expériences et comment ils peuvent vous aider à améliorer votre santé.">
    <meta name="keywords" content="médecins, Santé +, profils de médecins, spécialités médicales, consultations médicales, expérience médicale">
    <meta name="author" content="Santé +">
  
   
{% endblock %}

{% block title %}Medecin{% endblock %}

{% block body %}
<div class="page-banner overlay-dark bg-image" style="background-image: url({{asset('asset/img/istockphoto-1401846005-612x612.jpg')}});">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <nav aria-label="Breadcrumb">
      
      </nav>
      <h1 class="font-weight-normal">Les Médecins de chez Santé + </h1>
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<h1 class="medecin-titre">Les Medecins</h1>
   
  <div class="page-section bg-light">
    <div class="">
      <div class="row justify-content-center">
        <div class="col-lg-10">

          <div class="row">
            
            {% for medecin in medecins %}
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src={{asset('uploads/medecins/' ~ medecin.url)}} alt="photo medecin {{medecin.firstName}}">
                  <div class="meta">
                    <a href="#"><span class="mai-call"></span></a>
                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                  </div>
                </div>
                <div class="body">
                  <p class="text-xl mb-0">{{medecin.lastName}} {{medecin.firstName}}</p>
                  <span class="text-sm text-grey">{{medecin.tel}}</span>
                  <p class="text-sm text-grey">{{medecin.experience.experience}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
    
        
    

            
          </div>
        </div>  
      </div>
    </div>
  </div>
{% endblock %}
