{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}


<div class="page-banner overlay-dark bg-image" style="background-image: url({{asset('asset/img/istockphoto-1401846005-612x612.jpg')}});">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          
        <h1 class="font-weight-normal">Contactez-nous</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Prise de rendez-vous</h1>

        {{ form_start(form, {'attr': {'class': 'contact-form mt-5'}}) }}
        <div class="row mb-3">
            <div class="col-sm-6 py-2 wow fadeInLeft">
                {{ form_row(form.name, {'label': 'Nom et Prénom'}) }}
            </div>
            <div class="col-sm-6 py-2 wow fadeInRight">
                {{ form_row(form.email, {'label': 'Email'}) }}
            </div>
            <div class="col-12 py-2 wow fadeInUp">
                {{ form_row(form.subject, {'label': 'Motif'}) }}
            </div>
            <div class="col-12 py-2 wow fadeInUp">
                {{ form_row(form.message, {'label': 'Message'}) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">Envoyer</button>
        {{ form_end(form) }}
    </div>
</div>


  {{form(form)}}

{% endblock %}
